.option-list{
    margin:24px 0;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    gap: 8px;
    flex-direction: column;
}
.option-list label{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
    display: block;
}

.option-list select{
    width: 100%;
    background-color: white ;
    border: none;
    box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 30px 20px;
    outline-color: #6278F7;
    font-size: 16px;
   
}





